<!DOCTYPE html>
<html>

<head>
    <!-- Your head content here -->
</head>

<body>
    <div class="cities-list">
        <h1>
            <% if (locals.dataOne) { %>
                <%= dataOne.name %> Cities
                    <% } else if (locals.countryData) { %>
                        <%= countryData.name %> Cities
                            <% } %>
        </h1>
        <div class="city-names">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>City Name</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (locals.dataTwo) { %>
                        <% dataTwo.forEach(data => { %>
                            <tr>
                                <td>
                                    <%= data.city %>
                                </td>
                                <td>
                                    <%= data.population %>
                                </td>
                            </tr>
                            <% }); %>
                                <% } else if (locals.cityData) { %>
                                    <% cityData.forEach(data => { %>
                                        <tr>
                                            <td>
                                                <%= data.city %>
                                            </td>
                                            <td>
                                                <%= data.population %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                            <% } %>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <% if (locals.dataTwo) { %>
        <% dataTwo.forEach((city) => { %>
            <h2>
                <%= city.name %>
            </h2>
            <% }) %>
                <% } else { %>
                    <h2>No cached data yet</h2>
                    <% } %>

                        <% if (locals.renderSessionData) { %>
                            <h1>Data coming from session storage</h1>
                            <% renderSessionData.forEach((city) => { %>
                                <h2>
                                    <%= city.name %>
                                </h2>
                                <% }) %>
                                    <% } else { %>
                                        <h1>No cities cached data yet</h1>
                                        <form action="/distance" method="GET">
                                            <h2>Try for session data</h2>
                                            <button type="submit">Hit</button>
                                        </form>
                                        <% } %>
</body>

</html>