<%- include("partials/header.ejs")%>
    <main>
        <div class="country-specific">
            <div class="country-details">
                <div class="country-name">
                    <h3>
                        <% if (locals.dataOne) { %>
                            <%= dataOne.name %>
                                <% } else if (locals.countrySessionData) { %>
                                    <%= countrySessionData.name %>
                                        <% } %>
                    </h3>
                    <h6>COUNTRY :</h6>
                </div>
            </div>
            <div class="country-code">
                <h3>
                    <% if (locals.dataOne) { %>
                        <%= dataOne.code %>
                            <% } else if (locals.countrySessionData) { %>
                                <%= countrySessionData.code %>
                                    <% } %>
                </h3>
                <h6>COUNTRY CODE :</h6>
            </div>
        </div>

        <!-- Stats, City lists -->
        <div class="cities-details container">
            <div class="city-info">
                <div class="collapse-link">
                    <h1>statistics</h1>
                </div>
                <div class="capital collapse-link-data">
                    <h3><i class="fa-solid fa-building-columns" style="color: #263b6b;"></i>capital</h3>
                    <h4>
                        <% if (locals.dataOne) { %>
                            <%= dataOne.capital %>
                                <% } else if (locals.countrySessionData) { %>
                                    <%= countrySessionData.capital %>
                                        <% } %>
                    </h4>
                </div>
                <div class="travel-info">
                    <div class="collapse-link ">
                        <h1>travel</h1>
                    </div>
                    <div class="currency collapse-link-data">
                        <h3><i class="fa-solid fa-dollar-sign" style="color: #263b6b;"></i>currency</h3>
                        <h4>
                            <% if (locals.dataOne) { %>
                                <%= dataOne.currencyCodes %>
                                    <% } else if (locals.countrySessionData) { %>
                                        <%= countrySessionData.currencyCodes %>
                                            <% } %>
                        </h4>
                    </div>
                    <div class="calling-code collapse-link-data">
                        <h3><i class="fa-solid fa-phone" style="color: #263b6b;"></i>Calling code</h3>
                        <h4>
                            <% if (locals.dataOne) { %>
                                <%= dataOne.callingCode %>
                                    <% } else if (locals.countrySessionData) { %>
                                        <%= countrySessionData.callingCode %>
                                            <% } %>
                        </h4>
                    </div>
                </div>
            </div>


            <div class="cities-list">
                <h1>
                    <% if (locals.dataOne) { %>
                        <%= dataOne.name %> Cities
                            <% } else if (locals.countrySessionData) { %>
                                <%= countrySessionData.name %> Cities
                                    <% } %>
                </h1>
                <div class="city-names">
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>City Name</th>
                                <th>Population</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (locals.dataTwo) { %>
                                <% dataTwo.forEach(data => { %>
                                    <tr>
                                        <td>
                                            <%= data.city %>
                                        </td>
                                        <td>
                                            <%= data.population %>
                                        </td>
                                    </tr>
                                    <% }); %>
                                        <% } %>
                                            <%  if (locals.citySessionData) { %>
                                                <% citySessionData.forEach(data => { %>
                                                    <tr>
                                                        <td>
                                                            <%= data.city %>
                                                        </td>
                                                        <td>
                                                            <%= data.population %>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Find distance -->
        <div class="distance-form container">
            <div class="form-wrapper">
                <div class="form-side">
                    <form class="form" action="/distance %>" method="POST">
                        <div class="groups ">
                            <div class="label ">
                                <h1>find distance</h1>
                            </div>
                            <div class="group1">
                                <div class="select-city">
                                    <div class="select-text select-city-start">
                                        <input type="text" name="start" id="startCity" placeholder="Start city" required>
                                    </div>
                                </div>
                                <div class="start-options">
                                    <ul class=" auto-complete auto-complete-start ">
                                        <% if (locals.dataTwo && locals.dataOne) { %>
                                            <ul>
                                                <% dataTwo.forEach(element => { %>
                                                    <li data-option-element-city="<%=element.city %>">
                                                        <%= element.city %>-
                                                            <%=dataOne.code  %>
                                                    </li>
                                                    <% }); %>
                                            </ul>
                                            <% } else if(locals.citySessionData && locals.countrySessionData) { %>
                                                <ul>
                                                    <% citySessionData.forEach(element => { %>
                                                        <li data-option-element-city="<%=element.city %>">
                                                            <%= element.city %>-
                                                                <%= countrySessionData.code %>
                                                        </li>
                                                        <% }); %>
                                                </ul>
                                                <% } %>
                                    </ul>
                                </div>
                            </div>
                            <div class="group2">
                                <div class="select-city">
                                    <div class="select-text select-city-end">
                                        <input type="text" name="end" id="endCity" placeholder="End city" required>
                                    </div>
                                </div>
                                <div class="end-options">
                                    <ul class="auto-complete  auto-complete-end">
                                        <% if (locals.dataTwo && locals.dataOne){ %>
                                            <ul>
                                                <% dataTwo.forEach(element => { %>
                                                    <li data-option-element-city="<%= element.city %>">
                                                        <div class="one-line-container">
                                                            <%= element.city %>-
                                                                <%= dataOne.code %>
                                                        </div>

                                                    </li>
                                                    <% }); %>
                                            </ul>
                                            <% } else if(locals.citySessionData && locals.countrySessionData) { %>
                                                <ul>
                                                    <% citySessionData.forEach(element => { %>
                                                        <li data-option-element-city="<%=element.city %>">
                                                            <%= element.city %>-
                                                                <%= countrySessionData.code %>
                                                        </li>
                                                        <% }); %>
                                                </ul>
                                                <% } %>
                                    </ul>
                                </div>
                            </div>
                            <div class="group3">
                                <button type="submit">Calculate Distance</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="output-side">
                    <div class="output-wrapper">
                        <div class="output-text">
                            <h1> distance</h>
                                <span class="output-logo"><i class="fa-solid fa-car-side"></i></span>
                        </div>

                        <div class="output-value">
                            <% if(locals.distance == 0.00){ %>
                                <h4>
                                    0.0 <span>Miles</span></h4>
                                <% } else if(locals.distance ){%>
                                    <h4>
                                        <%= distance %> 0 <span>Miles</span></h4>
                                    <% } else { %>
                                        <h4>
                                            0 <span>Miles</span></h4>
                                        </h4>

                                        <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <script src="js/cintyinfo.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const outputDiv = document.querySelector('.output-value');

            if (outputDiv) {
                // Extract the text content from the div
                const textContent = outputDiv.textContent;
                // Define a regular expression to match digits
                var digitsOnly = textContent.replace(/[^0-9]/g, '');

                // Trim any leading or trailing spaces from the string.
                var trimmedDigits = digitsOnly.trim();

                // Check if distance is not 0
                if (trimmedDigits !== '0') {
                    const outputSideDiv = document.querySelector('.output-side');
                    if (outputSideDiv) {
                        outputSideDiv.scrollIntoView({
                            behavior: 'smooth',
                            block: 'start'
                        });
                    }
                }
            }
        });
    </script>

    <%- include("partials/footer.ejs") %>