<%- include("partials/header.ejs")%>
    <div class="cities-list">
        <h1>
            <% if (locals.dataOne) { %>
                <%= dataOne.name %> Cities
                    <% } if (locals.renderCountrySessionData) { %>
                        <%= renderCountrySessionData.name %> Cities
                            <% }else { %>

                                <h1>Data caching not happening</h1>
                                <% } %>
        </h1>
        <div class="city-names">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>City Name</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (locals.dataTwo) { %>
                        <% dataTwo.forEach(data => { %>
                            <tr>
                                <td>
                                    <%= data.city %>
                                </td>
                                <td>
                                    <%= data.population %>
                                </td>
                            </tr>
                            <% }); %>
                                <% } %>
                                    <% if (locals.renderCitySessionData) { %>
                                        <% renderCitySessionData.forEach(data => { %>
                                            <tr>
                                                <td>
                                                    <%= data.city %>
                                                </td>
                                                <td>
                                                    <%= data.population %>
                                                </td>
                                            </tr>
                                            <% }); %>
                                                <% } %>
                </tbody>
            </table>
        </div>

    </div>



    <!-- Find distance -->
    <div class="distance-form container">
        <div class="form-wrapper">
            <div class="form-side">
                <form class="form" action="/distance" method="POST">
                    <div class="groups">
                        <div class="label">
                            <h1>find distance</h1>
                        </div>
                        <div class="group1">
                            <div class="select-city">
                                <div class="select-text">
                                    <input type="text" name="start" id="startCity" placeholder="Start city">
                                </div>
                            </div>
                            <div class="start-options">
                                <ul class=" auto-complete  auto-complete-start">
                                    <% if (locals.renderCitySessionData) { %>
                                        <ul>
                                            <% renderCitySessionData.forEach(element => { %>
                                                <li data-option-element-city="<%= element.city %>">
                                                    <%= element.city %>
                                                </li>
                                                <% }); %>
                                        </ul>
                                        <% } else { %>
                                            <ul>
                                                <li data-option-element-city="dummy"></li>
                                            </ul>
                                            <% } %>




                                </ul>
                            </div>
                        </div>
                        <div class="group2">
                            <div class="select-city">
                                <div class="select-text">
                                    <input type="text" name="end" id="endCity" placeholder="End city">
                                </div>
                            </div>
                            <div class="end-options">
                                <ul class="auto-complete  auto-complete-end">
                                    <% if (locals.renderCitySessionData) { %>
                                        <ul>
                                            <% renderCitySessionData.forEach(element => { %>
                                                <li data-option-element-city="<%= element.city %>">
                                                    <%= element.city %>
                                                </li>
                                                <% }); %>
                                        </ul>
                                        <% } else { %>
                                            <ul>
                                                <li data-option-element-city="dummy"></li>
                                            </ul>
                                            <% } %>




                                </ul>
                            </div>
                        </div>
                        <div class="group3">
                            <button type="submit">Calculate Distance</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="output-side">
                <div class="output-wrapper">
                    <div class="output-text">
                        <h1> distance</h>
                            <span class="output-logo"><i class="fa-solid fa-car-side"></i></span>
                    </div>

                    <div class="output-value">
                        <% if(locals.distance){ %>
                            <h4>
                                <%= distance %> <span>Miles</span></h4>
                            <% } else { %>
                                <h4>0 <span>Miles</span></h4>
                                <% } %>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <%- include("partials/footer.ejs")%>